.questionlabel {
  display: flex;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border-width: 2px;
  border-style: solid;
  height: 3rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-color: #ffffff;
  user-select: none;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1), 0 0 10px 2px rgba(0, 0, 0, 0.05);
  border-color: var(--galician-blue);

  @media (min-width: 640px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}